<style>
    .board {
        height: 300px; /* Or whatever */
    }
</style>

Tu veux inviter du monde à rejoindre la partie ? <br />

Voici le code d'invitation : <%= @game.invitation_code %> <br />
<% if user_signed_in? %>
<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% end %>
<% if @players.present? %>
  <br />
  Les participants sont : <br />
  <% @players.each do |player| %>
    - <%= player.user.name || player.user.email %> <br />
  <% end %>
<% end %>

<% if @player.id.nil? %>
  <%= form_for @player, url: players_path(@player), method: :post do |form| %>

    <div class="field">
      <%= form.label 'Quelle couleur voulait vous jouer ?' %> <br />
      <%= form.select :color, @game.color_available %><br />
      <%= form.hidden_field :invitation_code, value: @game.invitation_code %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
    <% end %>

<% end %>

<% if @game.status == Game::RUNNING && @credits.present? %>
  <%= link_to "Roll the dices BRO !", rolls_path(credit: @credits.first, game: @game, player: @player ), method: :post %>
<% end  %>

<% if @player.id.present? && @game.status == Game::WAITING %>
  <%= link_to "Start the game !", start_a_game_path( id: @game ), method: :post %>
<% end  %>


    <div class="d-flex flex-wrap bd-highlight mb-3 align-content-center">
        <% @board.each do |space| %>
        <div class="p-2 bd-highlight " style="">
        <%= render partial: "games/space", locals: {space: space} %>
        </div>
        <% end %>
      </div>
